<% content_for :jscript do %>
	<%= javascript_include_tag "kinetic.min", "canvas" %>
<% end %>

<div class="row">
	<div id="paint-canvas" class="span12">
	</div>
</div>

<div class="space"></div>

<div class="row">
	<div class="span2" data-toggle="buttons-radio">		
		<button id="paint-mode" class="btn btn-small" data-toggle="button"><i class="icon-pencil" title="Paint Mode"></i></button>
		<button id="drag-mode" class="btn btn-small" data-toggle="button"><i class="icon-move" title="Drag Mode"></i></button>
		<button id="erase-mode" class="btn btn-small" data-toggle="button"><i class="icon-ban-circle" title="Erase Mode"></i></button>
	</div>
	<div class="span4">
		<button id="add-image" class="btn btn-small"><i class="icon-file" title="Add New Image"></i></button>
		<button id="remove-image" class="btn btn-small"><i class="icon-remove" title="Remove Image"></i></button>
		<button id="clear-canvas" class="btn btn-small"><i class="icon-refresh" title="Clear Canvas"></i></button>
		<button id="save-canvas" class="btn btn-small"><i class="icon-download-alt" title="Save as Image"></i></button>
		<button id="record-canvas" class="btn btn-small">Save</button>
		<button id="load-canvas" class="btn btn-small">Load</button>
	</div>
	<div class="span3 pull-right">
		<a id="how-to" role="button" data-toggle="modal" href="#how-to-description" class="btn btn-small pull-right">How To Operate This?</a>
		<div id="how-to-description" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="how-to-label" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="how-to-label">How To Operate This</h3>
			</div>
			<div class="modal-body">
				<h4>Paint on Canvas</h4>
				<p>Click a button which has this icon: <i class="icon-pencil"></i> and drag your mouse on the canvas.</p>
				<p>&nbsp;</p>

				<h4>Add Image</h4>
				<p>Click a button which has this icon: <i class="icon-file"></i> and a new image will come up.</p>
				<p>&nbsp;</p>

				<h4>Drag Image</h4>
				<p>Click a button which has this icon: <i class="icon-move"></i>, move your pointer over the image, then drag and drop it.</p>
				<p>&nbsp;</p>

				<h4>Resize Image</h4>
				<p>Click a button which has this icon: <i class="icon-move"></i>, move your pointer over the image, you will see 4 small circles at the corner of the image. Move your mouse over the circle, then drag it to resize the image.</p>
				<p>&nbsp;</p>

				<h4>Remove Image</h4>
				<p>Click a button which has this icon: <i class="icon-move"></i>, move your pointer over the image, double click it. Then, click a button which has this icon: <i class="icon-remove"></i>.</p>
				<p>&nbsp;</p>

				<h4>Use Eraser</h4>
				<p>Click a button which has this icon: <i class="icon-ban-circle"></i> and drag your mouse on the canvas.</p>
				<p>&nbsp;</p>

				<h4>Clear Canvas</h4>
				<p>Click a button which has this icon: <i class="icon-refresh"></i>.</p>
				<p>&nbsp;</p>

				<h4>Download Image</h4>
				<p>Click a button which has this icon: <i class="icon-download-alt"></i> and it will show a pop up. After that, you can save the image.</p>
				<p>&nbsp;</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-small" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>
	</div>
</div>