// Place all the styles related to the video controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.intro-speech{text-align:center;font-style:italic;}
#url-field{width:500px;}
.OT_publisher{float:left;margin-right:10px !important;margin-bottom:10px !important;}
.OT_subscriber{float:left;margin-right:10px !important;margin-bottom:10px !important;}